#content{
    border-top: 1px solid #f0f0f0;
}
#content .date{
    margin: 1em 0;
    font-size: 0.75em;
    color: #999;
    text-align: center;
}
#content .item{
    margin: 1em .9375em;
    padding: .95em;
    border: 1px solid #ccc;
    background: #fff;
}
#content .title{
    margin-bottom: 1em;
    font-size: 0.875em;
    line-height: 1.5em;
    font-weight: 700;
}
#content .content{
    font-size: 0.875em;
    line-height: 1.5em;
}
#content .other{
    margin-top: 1em;
    text-align: center;
}
#content .other button{
    display: block;
    margin: 0 auto;
    width: 6.25em;
    height: 2em;
    font-size: 0.75em;
    line-height: 1.5em;
}
#content .other span{
    display: block;
    margin: 0 auto;
    font-size: 0.75em;
    line-height: 1.5em;
    color: #ff9500;
}
